body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

.container {
    width: 90%;
    margin: auto;
}

/* HEADER */
header {
    background: url('../images/road.jpg');
    background-size: cover;
    color: white;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 40px;
}

/* NAVBAR */
nav {
    background: #34495e;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* CARDS */
.stats {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card img {
    width: 40px;
    margin-bottom: 10px;
}

/* CHART */
.chart {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}